@use "@zenflux/react-ui/src/fonts.scss" as fonts;

.layout {
    max-width: 1440px;
    @apply mx-auto;

    header {
        @apply pt-[50px];
        @apply pb-[50px];

        .end {
            @apply flex;
            @apply justify-end;
        }

        .description {
            font-family: "Tahoma", system-ui;
            color: #b7b7b7;
        }
    }
}
