:root {
    --layout-overlay-z-index: 5;
}

.layout {
    .layout__content {
        @apply container;
        @apply mx-auto;
        @apply px-4;
    }

    .layout__overlay {
        @apply select-none;
        @apply cursor-pointer;
    }

    .layout__overlay--invisible {
        @apply opacity-0;
        z-index: -1;
    }

    .layout__overlay--visible {
        @apply opacity-100;
        z-index: var(--layout-overlay-z-index);
    }
}
