.channel-item-accordion {
    .info-label {
        @apply font-sans text-[#232c4d] text-base font-light;
    }

    .channel-budget-settings {
        grid-template-columns: repeat(3, 0px);

        @apply grid gap-[350px];

        .select, .input {
            .wrapper {
                @apply pt-[8px];
            }

            .trigger {
                @apply pt-0 pb-0 border-[#B2BBD57F] min-h-0 h-10;
            }
        }

        .button-group {
            @apply pt-[7px];
        }

        .button {
            @apply p-[20px] bg-[rgba(178,187,213,0.36)] shadow-sm border-[rgba(178,187,213,0.50)] text-[#707EA7];

            &:first-child {
                @apply rounded-l-md;
            }

            &:last-child {
                @apply border-l-0 rounded-r-md;
            }

            &[data-active="true"] {
                @apply text-[#2A3558] bg-gradient-to-b from-[#FAFAFC] to-white shadow-sm border-[rgba(178,187,213,0.50)];
            }
        }

        .channel-budget-frequency {
            @apply w-[226px];
        }

        .channel-budget-baseline {
            @apply w-[237px];

            &[data-disabled="true"] {
                .trigger {
                    @apply bg-[#F5F6FA];
                }
                input {
                    color: #99A4C2;
                }
            }
        }

        .channel-budget-allocation {
            @apply w-fit;
        }
    }

    .channel-budget-breakdowns {
        @apply mt-[50px];
        @apply p-[24px];
        @apply min-w-[1200px];
        @apply min-h-[300px];
        @apply bg-[#F5F6FA];
        @apply bg-gradient-to-r from-50% to-[#B2BBD580];
        @apply rounded border border-slate-300 border-opacity-50;

        .description {
            @apply text-slate-400 text-sm font-normal leading-[21px];
            @apply font-thin;
        }

        .content {
            @apply p-[24px];
            @apply grid grid-cols-6 gap-[20px];

            .break {
                .label {
                    @apply text-slate-700 text-sm font-normal leading-[21px];
                }

                .trigger {
                    @apply pt-0 pb-0 border-[rgba(178,187,213,0.50)];
                    @apply min-h-0 h-10 w-[160px];
                }

                &[data-disabled="false"] .trigger {
                    @apply bg-white;
                    color: #2A3558;
                }

                &[data-disabled="true"] .trigger {
                    color: #99A4C2;
                }
            }
        }
    }
}
