.channel-item-accordion {

    .channel-budget-settings {
        grid-template-columns: repeat(3, 0px);

        @apply grid gap-[350px];


        > div {
            @apply flex flex-col gap-2;


            .info-label {
                @apply font-sans text-[#232c4d] text-base font-light;
            }

            .button-group {
                @apply mt-1;
                button {
                    @apply py-[20px]
                }
            }
        }
        

        .channel-budget-frequency {
            @apply w-[226px];
        }

        .channel-budget-baseline {
            @apply w-[237px];


            &[data-disabled="true"] {
                .trigger {
                    @apply bg-[#F5F6FA];
                }
                input {
                    color: #99A4C2;
                }
            }
        }

        .channel-budget-allocation {
            @apply w-fit;
        }
    }

    .channel-budget-breakdowns {
        @apply mt-[50px];
        @apply p-[24px];
        @apply min-w-[1200px];
        @apply min-h-[300px];
        @apply bg-[#F5F6FA];
        @apply bg-gradient-to-r from-50% to-[#B2BBD580];
        @apply rounded border border-slate-300 border-opacity-50;

        .description {
            @apply text-slate-400 text-sm font-normal leading-[21px];
            @apply font-thin;
        }

        .content {
            @apply p-[24px];
            @apply grid grid-cols-6 gap-[20px];

            .break {
                .label {
                    @apply text-slate-700 text-sm font-normal leading-[21px];
                }

                .currency-sign {
                    @apply pl-[12px] pr-[0px] text-[14px] leading-[24px];
                    @apply text-black;
                    @apply relative left-[5px]
                }

                .trigger {
                    @apply flex items-center bg-white w-[160px] h-10;
                    @apply border-[2px] rounded-[0px];
                }
                
                /* Editable input (Manual) */
                &[data-disabled="false"] .trigger {

                    border-color: rgba(178,187,213,0.5);

                }

                /* Read-only display (Equal) */
                &[data-disabled="true"] .trigger {
                    color: #99A4C2;

                    @apply bg-transparent;
                }
            }
        }
    }
}
