.channel-item-table {
    @apply self-start;
    @apply max-w-[1100px] h-full;
    @apply pt-[18px] ps-[25px];
    @apply overflow-x-hidden;

    .arrow-skinny {
        position: relative;
        cursor: pointer;
        transform: scale(1.3);
        top: 9px;
        left: 1050px;
    }

    &.left .arrow-skinny {
        left: 1910px;
        position: relative;
        top: 8px;
        transform: scale(1.3) rotate(180deg);
    }

    .channel-item-table-breaks {
        @apply w-max;
        @apply grid grid-cols-12 grid-rows-2 gap-y-[3px] gap-x-[64px];

        > .channel-item-table-budget {
            text-align: right;
            position: relative;
            top: -50x;
            left: -8px;

            .input {
                text-align: center;
            }
        }

        .channel-item-table-date {
            @apply w-[100px] h-[40px];
            @apply text-slate-400 text-[11px] font-semibold font-sans uppercase leading-none;
            @apply tracking-[0.03em];
            @apply mb-[2px];
        }

        .channel-item-table-budget {
            .trigger {
                @apply bg-white;
                @apply shadow-none;
                @apply p-0 m-0;

                input {
                    @apply border border-solid border-white;
                    @apply rounded-lg;
                    @apply p-0 ps-[7px];
                    @apply h-[80%];
                    @apply absolute;
                    @apply ps-[20px];
                    @apply top-[-10px];
                    @apply left-[-3px];
                }

                .currency-sign {
                    @apply absolute;
                    @apply top-[-4px] left-[8px];
                }

                :after {
                    content: "\00a0";
                    width: 0;
                }
            }

            .control-area {
                width: 63px;
                display: inline;
                position: absolute;
                top: -7px;
                left: 78px;

                .pencil, .cancel, .save {
                    @apply invisible;

                    &:hover {
                        @apply animate-pulse delay-100;
                    }
                }

                * {
                    width: 16px;

                    display: inline;
                    margin-left: 2px;

                    cursor: pointer;
                }
            }

            &[data-disabled="true"] {
                .trigger:hover + .control-area .pencil {
                            @apply visible;
                }
            }

            &[data-disabled="false"] {
                input {
                    border: 1px solid rgba(178, 187, 213, 0.50);
                    @apply bg-white;
                }

                .cancel, .save {
                    @apply visible;
                }
            }

            .wrapper {
                @apply w-[100px];
            }
        }
    }

}
